.main {
  background-color: #eaedee;
  padding: 50px 0;
}

.offerContainer {
  display: flex;
  justify-content: space-around;
  height: 600px;
}

.offerContainer .uniquePhoto {
  width: 450px;
  height: 600px;
  border-radius: 5px;
  object-fit: cover;
}

.slider {
  display: flex;
}

.carousel-root {
  height: 600px;
}
.slider-wrapper {
  width: 450px;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel.carousel-slider {
  overflow: inherit;
  position: relative;
  box-sizing: border-box;
  height: 600px;
}

.carousel .control-next.control-arrow,
.carousel .control-next.control-arrow:hover {
  background-color: transparent;
  /* opacity: */
  right: -146px;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  /* border: none;
  outline: none; */
  border-radius: 10px;
  border: none;
  color: white;
  position: absolute;
  right: calc(100% - 450px);
  top: 0;
  z-index: 1;
}

.carousel .control-next.control-arrow:hover {
  opacity: 0.2;
  background-color: #bbbbbb;
}

.carousel img {
  height: 600px;
  border-radius: 10px;
  width: 450px;
}

.carousel .control-prev.control-arrow,
.carousel .control-prev.control-arrow:hover {
  background-color: transparent;
  /* left: -146px; */
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  /* border: none;
  outline: none; */
  border-radius: 10px;
  border: none;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.carousel .control-prev.control-arrow:hover {
  opacity: 0.2;
  background-color: #bbbbbb;
}

.carousel.carousel-slider button:focus {
  outline: none !important;
  /* background-color: white;
  color: white; */
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1;
  width: 60px;
  /* height: 100%; */
}

.carousel .control-next.control-arrow:before {
  content: ">";
  font-weight: bold;
  color: #2fb0da;
  font-size: 50px;
  padding: 0;
}
/* "->" */
.carousel .control-prev.control-arrow:before {
  content: "<";
  font-weight: bold;
  color: #2fb0da;
  font-size: 50px;
  padding: 0;
  border: none;
  outline: none;
}

.carousel.carousel-slider .carousel-status {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* INFORMATION PART */
.offerContainer .product-details {
  height: 600px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offerContainer .product-details .price {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}

.offerContainer .product-details .information {
  padding-bottom: 40px;
  border-bottom: solid 1px #999999;
}

.offerContainer .product-details .information li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.offerContainer .product-details .information li > div:last-child {
  text-align: end;
}

.offerContainer .product-details .information li div:first-child {
  color: #999999;
}

.container .product-details .information li div:last-child {
  color: #666666;
}

.offerContainer .product-details .general-details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 215px;
  font-size: 16px;
}

.offerContainer .product-details .general-details div:first-child {
  font-weight: bold;
}

.offerContainer .product-details .general-details div:nth-child(2) {
  word-wrap: break-word;
  color: #666666;
}

.offerContainer .product-details .general-details .userInformationOffer {
  display: flex;
  align-items: center;
  font-size: inherit;
}

.offerContainer .product-details .general-details .userInformationOffer p {
  width: 200px;
}

.offerContainer .product-details .general-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.offerContainer .product-details button {
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #2fb0da;
  color: white;
}

.offerContainer .product-details .general-details button:hover {
  box-shadow: 5px 5px 5px #999999;
}
